<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <div th:fragment="navbar">
        <link rel="stylesheet" href="webjars/font-awesome/4.3.0/css/font-awesome.min.css"/>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Dive</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
                <!--<ul class="navbar-nav d-flex">-->
                    <!--<li><a class="nav-item nav-link large-nav-link">-->
                        <!--th:classappend="${#httpServletRequest.getRequestURI() == '/dives' ? 'active':''}"-->
                        <!--href="/dives">My Dives</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </nav>

    </div>
</head>
<body></body>

</html>
