<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"></div>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
</head>

<body class="bg-light">
<div th:replace="fragments/navbar :: navbar"/>
<div class="col-lg-12 top-padding">
    <div class="container col-lg-10 col-sm-10 card">
        <h2 class="header-padding" style="text-align: center">Your commitments</h2>
        <table class="table table-striped col">
            <thead>
            <th>Location</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Depth (meters)</th>
            <th>Water Condition</th>
            </thead>
            <tr th:if="${dives.empty}">
                <td colspan="2"> No Dives Available</td>
            </tr>
            <tr th:each="dive : ${dives}">
                <td th:text="${dive.location}"></td>
                <td th:text="${dive.date}"></td>
                <td th:text="${dive.durationInMinutes}"></td>
                <td th:text="${dive.depthInMeters}"></td>
                <td th:text="${dive.waterCondition}"></td>
                <td>
                    <a th:href="@{/deletedive (id=${dive.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
        <div class="form-row text-center">
            <div class="col-12" style="padding-bottom: 25px">
                <a href="/adddive" class="btn btn-primary text-center col-4">Add new dive</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>






