<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<style>
    h1 {color: blue};

</style>


<h1>Dive List</h1>

<table class="table">
    <thead>
    <tr>
        <th> Name</th>
        <th> Date</th>
        <th> Location</th>
        <th> Duration</th>
        <th> Depth (meters)</th>
        <th> Water Condition</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${dives.empty}">
        <td colspan="2"> No Dives Available</td>
    </tr>
    <tr th:each="dive : ${dives}">
        <td th:text="${dive.name}"></td>
        <td th:text="${dive.date}"></td>
        <td th:text="${dive.location}"></td>
        <td th:text="${dive.durationInMinutes}"></td>
        <td th:text="${dive.depthInMeters}"></td>
        <td th:text="${dive.waterCondition}"></td>
        <td><a th:href="@{'/dives/delete/' + ${dive.id}}" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
</table>

<a href="home">Home</a>

</body>
</html>